
<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js">
		</script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
		<link rel="stylesheet" href="./static/css/style.css" />
		<style>
			html, body, h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif;}
		</style>
		<title>
			Home
		</title>
	</head>
	<body>
		<div ng-app="tApp" ng-controller="tController">
			<div id="navigation" class="w3-sidebar w3-bar-block w3-light-grey w3-border w3-card-4">
				<a href="#!home" class="w3-bar-item w3-button w3-mobile">Home</a>
				<a href="#!maths" class="w3-bar-item w3-button">Maths</a>
				<div class="w3-dropdown-hover">
					<a href="#!computing"><button class="w3-button">Computing</button></a>
					<div class="w3-dropdown-content w3-bar-block w3-card-4">
						<a href="#!theory" class="w3-bar-item w3-button w3-light-grey">Theory</a>
						<a href="#!alevel" class="w3-bar-item w3-button w3-light-grey">A Level Project</a>
						<a href="#!projects" class="w3-bar-item w3-button w3-light-grey">Other Projects</a>
					</div>
				</div>
				<div class="w3-dropdown-hover">
					<a href="#!hobbies" ng-click="changeTitle('Hobbies')"><button class="w3-button">Hobbies</button></a>
					<div class="w3-dropdown-content w3-bar-block w3-card-4">
						<a href="#!twisty" class="w3-bar-item w3-button w3-light-grey">Twisty Puzzles</a>
					</div>
				</div>
				<a href="#!contact" class="w3-bar-item w3-button w3-mobile">Contact</a>
				<a href="./links/victor.html" class="w3-bar-item w3-button w3-mobile">MMMMMMMMMM TASTES</a>
				<div class="w3-container w3-cell">
					<span class="w3-circle w3-jumbo w3-button fa fa-user w3-{{signedIn?'green':'red'}}" onclick="document.getElementById('log').style.display='block'">
					</span>
				</div>
				<div class="w3-container w3-cell">
					<span class="w3-bar-item w3-button w3-mobile fa fa-blind" onclick="document.write('');">
					</span>
					<span class="w3-bar-item w3-button w3-mobile fa fa-blind" onclick="document.getElementById('nGrams').style.display='block'">
					</span>
				</div>
				<div style="position:absolute; top:90%;" class="w3-panel">
					{{tTime}}
					{{contentMargin}}
				</div>
			</div>
			<div class="w3-content" style="margin-left:{{contentMargin+10}}px;margin-right:10px;max-width:100%;">
				<ng-view>
				</ng-view>
			</div>
			<!-- Login Form -->
			<div id="log" class="w3-modal">
				<div class="w3-modal-content w3-card-4 w3-animate-top w3-round">
					<div class="w3-container w3-light-grey w3-round">
						<span onclick="document.getElementById('log').style.display='none'" class="w3-button w3-display-topright w3-xlarge w3-round">
							&times;
						</span>
						<h1>
							Login
						</h1>
						<form class="w3-container">
							<label>
								Username
							</label>
							<input class="w3-input w3-margin-bottom" type="text" />
							
							<label>
								Password
							</label>
							<input class="w3-input w3-margin-bottom" type="password" />
							
							<button class="w3-button w3-margin-bottom">
								Login
							</button>
							
						</form>
					</div>
					<div class="w3-container w3-border-top w3-grey w3-round">
						<p class="w3-button w3-red w3-text-white" onclick="document.getElementById('log').style.display='none'">
							Cancel
						</p>
					</div>
				</div>
			</div>
			<!-- Markov Chains / ngrams form-->
			<div id="nGrams" class="w3-modal">
				<div class="w3-modal-content w3-card-4 w3-animate-top w3-round">
					<div class="w3-container w3-light-grey w3-round">
						<span onclick="document.getElementById('nGrams').style.display='none'" class="w3-button w3-display-topright w3-xlarge w3-round">
							&times;
						</span>
						<h1>
							Markov Chains & N-grams
						</h1>
						<form>
							<ul class="w3-ul">
								<li>
								<label class="w3-row">
									Order
								</label>
								<input type="range" ng-model="nOrder" max="10" min="1" />
								<span>
									{{nOrder}}
								</span>
								</li>
								<li>
								<label class="w3-row">
									Length
								</label>
								<input type="range" ng-model="nLength" max="2000" min="50" />
								<span>
									{{nLength}}
								</span>
								</li>
								<li>
								<label class="w3-row">
									Input Text
								</label>
								<textarea cols="100" rows="7" ng-model="nText"></textarea>
								<textarea cols="100" rows="7">{{markov.k(markov.g(nText,nOrder),nText.substring(0,nOrder),nOrder,nLength)}}</textarea>
								</li>
							</ul>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
			var app = angular.module("tApp", ["ngRoute"]);

			app.config(function($routeProvider){
				$routeProvider.when("/maths", {
					templateUrl : "./static/pages/maths.html",
					controller  : "cMaths"
				}).when("/computing", {
					templateUrl : "./static/pages/computing.html",
					controller  : "cComputing"
				}).when("/theory", {
					templateUrl : "./static/pages/theory.html",
					controller : "cTheory"
				}).when("/alevel", {
					templateUrl : "./static/pages/alevel.html",
					controller  : "cALevel"
				}).when("/projects", {
					templateUrl : "./static/pages/projects.html",
					controller : "cProjects"
				}).when("/hobbies", {
					templateUrl : "./static/pages/hobbies.html",
					controller  : "cHobbies"
				}).when("/twisty", {
					templateUrl : "./static/pages/twisty.html",
					controller : "cTwisty"
				}).when("/contact", {
					templateUrl : "./static/pages/contact.html",
					controller  : "cContact"
				}).otherwise({
					templateUrl : "./static/pages/home.html",
					controller  : "cHome"
				});
			});
		</script>
		<script src="./static/js/controller.js">
		</script>
        </body>
</html>
