
<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js">
		</script>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
		<style>
			html, body, h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif;}
		</style>
		<title>
			Home
		</title>
	</head>
	<body>
		<div ng-app="tApp" ng-controller="tController">
		<div class="w3-cell-row">
			<div class="w3-cell">
				<div class="w3-top">
					<div class="w3-sidebar w3-bar-block w3-light-grey w3-border w3-card-4">
						<a href="#!home" class="w3-bar-item w3-button w3-mobile" ng-click="changeTitle('Home')">Home</a>
						<a href="#!maths" class="w3-bar-item w3-button" ng-click="changeTitle('Maths')">Maths</a>
						<div class="w3-dropdown-hover">
							<a href="#!computing" ng-click="changeTitle('Computing Theory')"><button class="w3-button">Computing</button></a>
							<div class="w3-dropdown-content w3-bar-block w3-card-4">
								<a href="#!theory" class="w3-bar-item w3-button w3-light-grey" ng-click="changeTitle('Computing Theory')">Theory</a>
								<a href="#!alevel" class="w3-bar-item w3-button w3-light-grey" ng-click="changeTitle('A Level Project')">A Level Project</a>
								<a href="#!projects" class="w3-bar-item w3-button w3-light-grey" ng-click="changeTitle('Other Projects')">Other Projects</a>
							</div>
						</div>
						<div class="w3-dropdown-hover">
							<a href="#!hobbies" ng-click="changeTitle('Hobbies')"><button class="w3-button">Hobbies</button></a>
							<div class="w3-dropdown-content w3-bar-block w3-card-4">
								<a href="#!twisty" class="w3-bar-item w3-button w3-light-grey" ng-click="changeTitle('Twisty Puzzles')">Twisty Puzzles</a>
								<!--<a href="#!twisty" class="w3-bar-item w3-button w3-light-grey" ng-click="changeTitle('Video Games')">Video Games</a>-->
							</div>
						</div>
						<a href="#!contact" class="w3-bar-item w3-button w3-mobile" ng-click="changeTitle('Contact')">Contact</a>
						<a href="./links/victor.html" class="w3-bar-item w3-button w3-mobile">MMMMMMMMMM TASTES</a>
						<a class="w3-bar-item w3-button w3-mobile fa fa-blind" onclick="document.write('');"></a>
						<div style="position:absolute; top:90%;" class="w3-panel">
							{{tTime}}
						</div>
					</div>
				</div>
			</div>
			<div class="w3-cell">
				<div class="w3-content">
					<ng-view>
					</ng-view>
				</div>
			</div>
		</div>
		</div>
		<script>
			var app = angular.module("tApp", ["ngRoute"]);

			app.config(function($routeProvider){
				$routeProvider.when("/maths", {
					templateUrl : "./static/pages/maths.html",
					controller  : "cMaths"
				}).when("/computing", {
					templateUrl : "./static/pages/computing.html",
					controller  : "cComputing"
				}).when("/theory", {
					templateUrl : "./static/pages/theory.html",
					controller : "cTheory"
				}).when("/alevel", {
					templateUrl : "./static/pages/alevel.html",
					controller  : "cALevel"
				}).when("/projects", {
					templateUrl : "./static/pages/projects.html",
					controller : "cProjects"
				}).when("/hobbies", {
					templateUrl : "./static/pages/hobbies.html",
					controller  : "cHobbies"
				}).when("/twisty", {
					templateUrl : "./static/pages/twisty.html",
					controller : "cTwisty"
				}).when("/contact", {
					templateUrl : "./static/pages/contact.html",
					controller  : "cContact"
				}).otherwise({
					templateUrl : "./static/pages/home.html",
					controller  : "cHome"
				});
			});
		</script>
		<script src="./static/js/controller.js">
		</script>
        </body>
</html>
